.Container{
    padding: 0px 50px;
}

/* =======================Header section start======================= */
.bg_color{
    background-color:#0B2D34;
    color: aliceblue;
}
.react > h3 > a{
    color: aliceblue;
    text-decoration: none;
}
.Header_info > ul{
    margin-top: 10px !important;
}
.Header_info > ul > li > a{
    color: aliceblue;
    text-decoration: none;
}
/* =======================Header section End======================= */
/* ========================photo section start================= */
.card_photo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
/* ========================photo section end================= */

/* ======================user sec start====================== */
.user_next > td >b{
    display: inline-block;
}
/* ======================user sec end====================== */